.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.place,
.degree,
.date,
.eduDesc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.place input {
  height: 50px;
  /* border-color: red;
  background: url("../images/star.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px; */
}
.place label,
.degree label,
.date label,
.eduDesc label {
  font-size: 16px;
  font-weight: 500;
}
.degreeAndDate {
  display: flex;
  justify-content: space-between;
}
.degree select,
.date input {
  height: 50px;
  width: 370px;
}

.eduDesc textarea {
  height: 180px;
}
.line {
  margin: 20px 0 40px 0;
  border: 1px solid #c1c1c1;
}
