.expHeader {
  color: #f93b1d;
  font-size: 18px;
  font-weight: 700;
}
.expContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.positionContainer {
  display: flex;
}
.positionContainer p {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.dates {
  display: flex;
}
.dates p {
  font-size: 16px;
  font-weight: 400;
  color: #909090;
}
.expAndDates {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.description {
  width: 650px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  word-wrap: break-word;
}
