.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 85px;
}
.position,
.employer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.position input,
.employer input {
  height: 48px;
  outline: none;
}

.position label,
.employer label,
.startdate label,
.enddate label,
.description label {
  font-weight: 500;
}
.position p,
.employer p {
  font-weight: 300;
  font-size: 14px;
}

.date {
  display: flex;
  justify-content: space-between;
}
.startdate,
.enddate {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.startdate input,
.enddate input {
  width: 370px;
  height: 50px;
}
.description {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.description textarea {
  height: 125px;
  outline: none;
}
.line {
  border: 1px solid #c1c1c1;
}
.validPlace,
.validEmployer,
.validDescription {
  border: 1px solid #98e37e;
  background: url("../images/valid.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}
.validStartDate {
  border: 1px solid #98e37e;
  background: url("../images/valid.png");
  background-repeat: no-repeat;
  background-position: right 25px center;
  background-size: 20px;
}
.invalidPlace,
.invalidEmployer,
.invalidStartDate,
.invalidDescription {
  border: 1px solid #ef5050;
}
.validPlaceLogo,
.validEmployerLogo {
  display: none;
}

.invalidPlaceLogo,
.invalidEmployerLogo,
.invalidEndDateLogo,
.invalidDescriptionLogo {
  width: 21px;
  position: absolute;
  float: right;
  margin-top: 38px;
  margin-left: 820px;
}
.invalidDescriptionLogo {
  margin-top: 70px;
}
.invalidStartDateLogo {
  width: 21px;
  position: absolute;
  float: right;
  margin-top: 38px;
  margin-left: 385px;
}
.invalidPlaceLabel,
.invalidEmployerLabel,
.invalidStartDateLabel {
  color: #e52f2f;
}
